.header {
position: fixed;
top: 0;
left: 5;
width: 95%;
height: 68px;
background: white; /* Changed to white */
color: #1f2937; /* Dark text for contrast */
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 40px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}


.logo {
font-family: 'Poppins', sans-serif; /* Changed font to Poppins */
font-size: 30px;
font-weight: 700;
color: #1f2937;
letter-spacing: 4.8px;
box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}


.navbar a {
color: #1f2937;
text-decoration: none;
font-size: 20px;
margin-left: 50px;
font-weight: 30;
text-transform: uppercase;
}

.navbar a:hover {
opacity: 0.7; /* Adjusted opacity for better contrast on white */
}

body {
  background-color: #fff;
  color: #333;
}

.landing {
  margin-top: 68px;
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, #720026, #d80048);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.landing-page h1 {
  font-size: 2.3rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

#explore-games-btn {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #d80048;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 3px 4px 0 #a00c2b;
  cursor: pointer;
  transition: 0.3s;
}

#explore-games-btn:hover {
  background-color: #ffe3eb;
}

.promo-section {
  margin-top: 15px;
  position: relative;
  height: 500px;
  background-color: #4a001f; /* solid background (right side) */
  overflow: hidden;
}

/* Left triangle background image */
.promo-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(rgba(128, 0, 64, 0.6), rgba(128, 0, 64, 0.6)), 
              url('promo_bg.png') no-repeat center/cover;
  clip-path: polygon(0 0, 90% 0, 60% 100%, 0% 100%);
  z-index: 1; /* lowest layer */
}

.left-side {
  width: 55%;
}

.left-side h2 {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 600;
  z-index : 10;
}

.right-side {
  width: 35%;
  text-align: center;
}

.right-side h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 25px;
  z-index: -100;
}

.right-side a {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  color: #4f000b;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 3px 4px 0 #2b0006;
  transition: 0.3s;
}

.right-side a:hover {
  background-color: #ffb3b3;
}